<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{ if .Data.title -}}
      <title>{{ .Data.title }}</title>
    {{- end }}
    <style>{{ defaultStyles}}</style>
  </head>
  <body>
    <main>
      <nav class="sans">
        {{ range pagesWith "nav" | sortBy "nav" -}}
          <a href="{{ .Url }}" class="{{ if eq .Url $.Url -}} active {{- end }}">
            {{- .Data.title -}}
          </a>
        {{- end }}
      </nav>

      {{ if .Data.title -}}
        <h1>{{ .Data.title }}</h1>
      {{- end }}

      {{ if not .Date.IsZero -}}
        <time class="sans">{{ .Date.Format "Jan 2, 2006" }}</time>
      {{- end }}

      {{- .Contents -}}

      {{ if (eq .Data.index true) -}}
        <ul>
          {{ range index | orderByDate "desc" -}}
            <li>
              <a href="{{- .Url -}}">
                {{- .Data.title -}}
              </a>
            </li>
          {{- end }}
        </ul>
      {{- end }}
    </main>
  </body>
</html>
